{% extends "aldryn_newsblog/base.html" %}
{% load i18n cms_tags apphooks_config_tags %}

{% block title %}
    {{ article.title }} - {{ block.super }}
{% endblock %}

{% block newsblog_content %}
    {% include "aldryn_newsblog/includes/article.html" with detail_view="true" %}

    {% static_placeholder "newsblog_social" %}

        <!-- Pager -->
        <div class="clearfix">
        
        {% if prev_article %}
          <a class="btn btn-primary float-left" href="{{ prev_article.get_absolute_url }}">&larr; {% trans "Previous Article" %}</a>
        {% endif %}

        <!-- <a href="{% namespace_url "article-list" %}">{% trans "Back to Overview" %}</a></li> -->

        {% if next_article %}
            <a class="btn btn-primary float-right" href="{{ next_article.get_absolute_url }}">{% trans "Next Article" %} &rarr;</a>
        {% endif %}

        </div>

{% endblock %}
